@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

textarea {
  @apply w-[90%] h-11 border border-gray-300 rounded-md resize-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-700 placeholder-gray-400 mx-0.5 py-1 text-center;
  line-height: 2.5rem;
  padding: 0;
}

textarea:focus {
  border-color: #a374db;
  outline: none;
}

select {
  @apply block w-full h-12 px-4 py-2 border border-gray-300 rounded-md shadow-sm bg-white text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('/images/down-arrow.png') no-repeat right 10px center;
  background-size: 10px;
  padding-right: 40px;
}

select:focus {
  border-color: #a374db;
  outline: none;
}

option:checked {
  background-color: #a374db;
  color: #fff;
}

.bottom-button {
  @apply px-4 py-4 text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:from-purple-600 hover:to-pink-600 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 mb-6 mx-6;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #e1e1e1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
